@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*
#root {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    
  }
  
  main {
    flex-grow: 1;
  }
*/

.image-style {
  width: 300px;       /* set width */
  height: 300px;      /* set height (same as width!) */
  border-radius: 50%; /* makes it circular */
  object-fit: cover;  /* ensures image fills circle */
}

li, a, h1, h2, h3, h4, h5 {
  font-family: "Overpass", serif;
}
p, span {
  font-family: "Roboto", sans-serif;
}

//off canvas styling
$offcanvas-horizontal-width: 200px;

.offcanvas {
  bottom: auto !important;
  border-radius: 0px 0px 0px 10px !important;
  background-color: #0d1b2a !important;
}

// Link hover underline effect 
.link-hover {
  display: inline-block;
  position: relative;
}

.link-hover::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: transform 0.25s ease-in;
}

.link-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.blue-background {
  background-color: #0d1b2a;
}

$primary: #0d1b2a;


@import '../../node_modules/bootstrap/scss/bootstrap.scss';